.Messages-Image{
  float: left;
  width: 10%;
  border-width: thin;
  //border-right: 0px;
  //border-left: 0px;
  //border-bottom: 0px;
  //border-style: solid;
  border-color: gray;
}

.MessagesCard{
  background-color: white;
  padding-top: 0px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #15202B;
  /* border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-width: thin;
  border-style: solid; */
}

.Messagesimage {
  margin-left: 12px;
  border-radius: 50%;
  border-width: thin;
  //border-right: 0px;
  //border-left: 0px;
  //border-bottom: 0px;
  //border-style: solid;
  border-color: gray;
}

.Messages-Card-Body{
  float: left;
  width: 90%;
  border-width: thin;
  //border-right: 0px;
  //border-left: 0px;
  //border-bottom: 0px;
  //border-style: solid;
  border-color: gray;
}

.Messages-Card-Body-Content{
  float: left;
  width: 100%;
}

/* .particularTweet{
  border-top: 1px;
  border-style: solid;
} */

.Messages-Card-Body-Name{
  float: left;
  width: 45;
  color: white;
  padding-left: 10px;
}

.Messages-Card-Body-Handle{
  float: left;
  width: 25%;
  color: white;
}

.Messages-Card-Body-Date{
  float: left;
  width: 25%;
  color: gray;
}

.Messages-Card-Body-Text{
  color: white;
}

.Messages-Card-indi{
  background-color: #15202B;
  width: 60%;
}
