.Tweet-Image{
  float: left;
  width: 10%;
  border-top-width: thin;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: gray;
}

.tweetCard{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 67%;
  background-color: #15202B;
  /* border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom-width: thin;
  border-style: solid; */
}

.image {
  margin-left: 12px;
  border-radius: 50%;
  border-top-width: thin;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: gray;
}

.Tweet-Body{
  float: left;
  width: 90%;
  border-top-width: thin;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: gray;
}

.Tweet-Body-Content{
  float: left;
  width: 100%;
}

/* .particularTweet{
  border-top: 1px;
  border-style: solid;
} */

.Tweet-Body-Name{
  float: left;
  width: 30%;
  color: white;
}

.Tweet-Body-Handle{
  float: left;
  width: 14%;
  color: gray;
}

.Tweet-Body-Date{
  float: left;
  width: 15%;
  color: gray;
}

.Tweet-Body-Text{
  color: white;
}

.Tweet-Body-Panel{
  width: 100%;
}

.Tweet-Body-Panel-Comment{
  float: left;
  width: 10%;
  border: 0px;
  background-color: #15202B;
}

.Tweet-Body-Panel-ReTweet{
  float: left;
  width: 10%;
  margin-left: 69px;
  border: 0px;
  background-color: #15202B;
}

.Tweet-Body-Panel-Like{
  float: left;
  width: 10%;
  margin-left: 69px;
  border: 0px;
  background-color: #15202B;
}
.Tweet-Body-Panel-Bookmark{
  float: left;
  width: 10%;
  margin-left: 69px;
  border: 0px;
  background-color: #15202B;
}

.tweetCard-indi{
  background-color: #15202B;
}
