.SignUpDiv{
  background-color: #15202B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  padding-top: 10%;
  height: auto;
  background-size: auto;

}
